# Build artifacts
build/
node_modules/
_site/
.sass-cache/
coverage/

# Dependency management
vendor/
Gemfile.lock

# Environment variables
.env
*.env
.env.*

# Editor/IDE config
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Misc
.tmp*
*.swp
test/results
