# Build artifacts
dist/
node_modules/
_site/
.sass-cache/
build/
frontend/build/

# Dependency management
vendor/
Gemfile.lock

# Editor/IDE config
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Cache
npm-cache/
yarn.lock

# Misc
.tmp*
*.swp
test/results
checkserver.js

# Environment variables
.env
*.env
.env.*

# Virtual environments
venv/
.venv/

# Database files
*.sqlite
*.sqlite3

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
