# Build artifacts
dist/
node_modules/
_site/
.sass-cache/
coverage/
data/

# Dependency management
vendor/
Gemfile.lock

# Environment variables
.env
*.env
.env.*

# Database files
*.sqlite
*.sqlite3

# Editor/IDE config
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Misc
.tmp*
*.swp
test/results
checkserver.js
