files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 8080;
        
        location / {
          root /var/app/current/frontend/build;
          try_files $uri /index.html;
        }

        # Make sure static files are served properly
        location /static/ {
          root /var/app/current/frontend/build;
          access_log off;
          expires 30d;
        }
      }

container_commands:
  01_npm_install:
    command: "cd frontend && npm ci"
  02_build_frontend:
    command: "cd frontend && npm run build"