option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: frontend/build/static
    /: frontend/build/

container_commands:
  01_install_dependencies:
    command: "export NODE_OPTIONS=\"--max-old-space-size=2048\" && cd frontend && npm ci --production=false"
  02_build_frontend:
    command: "export NODE_OPTIONS=\"--max-old-space-size=2048\" && cd frontend && npm run build"
    timeout: 1200