option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: frontend/build/static
    /: frontend/build/
  
  # 並列処理を無効化
  aws:elasticbeanstalk:command:
    BatchSize: 1
    BatchSizeType: Fixed

container_commands:
  # 先にフロントエンドのビルドを行う - コマンドを連結して一つのステップで実行
  01_frontend_build:
    command: |
      echo "Building frontend..."
      export NODE_OPTIONS="--max-old-space-size=2048"
      cd frontend && npm ci --production=false && npm run build