option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

files:
  "/etc/nginx/conf.d/staticfiles.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /static {
        alias /var/app/current/frontend/build/static;
      }
      
      location /assets {
        alias /var/app/current/frontend/build/assets;
      }
      
      location / {
        root /var/app/current/frontend/build;
        try_files $uri /index.html;
      }