Resources:
  AdsManagerDB:
    Type: AWS::RDS::DBInstance
    Properties:
      AllocatedStorage: 20
      DBInstanceClass: db.t3.medium
      DBName: adstxt_manager
      Engine: postgres
      EngineVersion: 17.4
      MasterUsername: dbadmin
      MasterUserPassword: "H4kKfRTKGBwkCAyM"
      MultiAZ: false
      StorageType: gp2
      Tags:
        - Key: Name
          Value: AdsManagerDB
    DeletionPolicy: Snapshot

  DBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: RDS Security Group
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          SourceSecurityGroupId: 
            "Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"]


option_settings:
  aws:elasticbeanstalk:application:environment:
    PGHOST: 
      "Fn::GetAtt": ["AdsManagerDB", "Endpoint.Address"]
    PGPORT: 
      "Fn::GetAtt": ["AdsManagerDB", "Endpoint.Port"]
    PGDATABASE: adstxt_manager
    PGUSER: dbadmin
    PGPASSWORD: "H4kKfRTKGBwkCAyM"