Resources:
  SESUser:
    Type: AWS::IAM::User
    Properties:
      Policies:
        - PolicyName: SESAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ses:SendEmail
                  - ses:SendRawEmail
                Resource: '*'

  SESUserAccessKey:
    Type: AWS::IAM::AccessKey
    Properties:
      UserName: !Ref SESUser

option_settings:
  aws:elasticbeanstalk:application:environment:
    SMTP_HOST: !Sub email-smtp.${AWS::Region}.amazonaws.com
    SMTP_PORT: 587
    SMTP_USER: !Ref SESUserAccessKey
    SMTP_PASS: !GetAtt SESUserAccessKey.SecretAccessKey
    SMTP_FROM: !Ref EmailAddress
    SMTP_FROM_NAME: Ads.txt Manager

Parameters:
  EmailAddress:
    Type: String
    Description: The verified email address to use for sending emails
    Default: adstxt-manager@example.com