container_commands:
  01_install_backend_dependencies:
    command: |
      cd /var/app/staging/backend
      npm install
    
  02_build_backend:
    command: |
      cd /var/app/staging/backend
      npm run build

  03_create_dist_folder_symlink:
    command: |
      # Required if the app is looking for dist in a different location
      if [ ! -d /var/app/staging/backend/dist ]; then
        mkdir -p /var/app/staging/backend/dist
      fi