option_settings:
  # Set NODE_ENV to production
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    DB_PROVIDER: postgres
    APPLICATION_URL: ${ApplicationURL}
    
  # Set the port for the Node.js application
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm --prefix backend start"
    ProxyServer: nginx