option_settings:
  # Enhanced health monitoring
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  
  # Configure load balancer
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    
  # Configure default process
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: 8081
    Protocol: HTTP
    HealthCheckInterval: 15
    HealthCheckTimeout: 5
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    MatcherHTTPCode: 200
    DeregistrationDelay: 20
    
  # Configure application health check
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: HTTP:8081/