option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    DATABASE_ENABLED: "false"
    SKIP_DB_CONNECTION: "true"

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

  # Configure health check
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: 8080
    Protocol: HTTP